/* Renk Tanımlamaları */
@red: #FF0000;
@blue: #0000FF;
@orange: #FFA500;
@yellow: #FFFF00;
@black: #000000;
@white: #FFFFFF;
@gray: #808080;
@green: #008000;
@purple: #800080;
@olive: #556B2F;
@begie: #F5F5DC;
@pink: #FFC0CB;
@indigo:#6574CD;
@teal: #4DC0B5;
@brown: #5D4037;
@bluegray: #78909c;
/* Renkleri 20% koyu tona getiriyoruz */
@dark-red: darken(@red, 20%);
@dark-blue: darken(@blue, 20%);
@dark-orange: darken(@orange, 20%);
@dark-yellow: darken(@yellow, 20%);
@dark-white: darken(@white, 20%);
@dark-gray: darken(@gray, 20%);
@dark-green: darken(@green, 20%);
@dark-purple: darken(@purple, 20%);
@dark-olive: darken(@olive, 20%);
@dark-begie: darken(@begie, 20%);
@dark-pink: darken(@pink, 20%);
@dark-indigo: darken(@indigo, 20%);
@dark-cyan: darken(@teal, 20%);
@dark-brown: darken(@brown, 20%);
@dark-bluegray: darken(@bluegray, 20%);
/* Renkleri 10% açık tona getiriyoruz */
@light-red: lighten(@red, 10%);
@light-blue: lighten(@blue, 10%);
@light-orange: lighten(@orange, 10%);
@light-yellow: lighten(@yellow, 10%);
@light-gray: lighten(@gray, 10%);
@light-green: lighten(@green, 10%);
@light-purple: lighten(@purple, 10%);
@light-olive: lighten(@olive, 10%);
@light-begie: lighten(@begie, 10%);
@light-pink: lighten(@pink, 10%);
@light-indigo: lighten(@indigo, 10%);
@light-cyan: lighten(@teal, 10%);
@light-brown: lighten(@brown, 10%);
@light-bluegray: lighten(@bluegray, 10%);
