/* ########################################################################## */
/* Padding ve Margin Tanımlamaları */
/* Komple Padding Tanımlamaları */
.pad-0 {padding: 0px !important;}
.pad-5 {padding: 5px !important;}
.pad-10 {padding: 10px !important;}
.pad-15 {padding: 15px !important;}
.pad-20 {padding: 20px !important;}
.pad-30 {padding: 30px !important;}
.pad-40 {padding: 40px !important;}
.pad-50 {padding: 50px !important;}
.pad-60 {padding: 60px !important;}

/* Komple Margin Tanımlamaları */
.mar-0 {margin: 0px !important;} /* Div Ortalama için 0px sonrasına auto yazmayı unutmayın */
.mar-5 {margin: 5px !important;}
.mar-10 {margin: 10px !important;}
.mar-15 {margin: 15px !important;}
.mar-20 {margin: 20px !important;}
.mar-30 {margin: 30px !important;}
.mar-40 {margin: 40px !important;}
.mar-50 {margin: 50px !important;}
.mar-60 {margin: 60px !important;}

/* Yatay padding Tanımlamaları */
.pad-x-5  {padding: 0 5px 0 5px !important;}
.pad-x-10 {padding: 0 10px 0 10px  !important;}
.pad-x-15 {padding: 0 15px 0 15px  !important;}
.pad-x-20 {padding: 0 20px 0 20px  !important;}
.pad-x-30 {padding: 0 30px 0 30px  !important;}
.pad-x-40 {padding: 0 40px 0 40px  !important;}
.pad-x-50 {padding: 0 50px 0 50px  !important;}
.pad-x-60 {padding: 0 60px 0 60px  !important;}

/*Dikey Padding Tanımlamaları */
.pad-y-5  {padding: 5px 0 5px 0 !important;}
.pad-y-10 {padding: 10px 0 10px 0px !important;}
.pad-y-15 {padding: 15px 0 15px 0px !important;}
.pad-y-20 {padding: 20px 0 20px 0px !important;}
.pad-y-30 {padding: 30px 0 30px 0px !important;}
.pad-y-40 {padding: 40px 0 40px 0px !important;}
.pad-y-50 {padding: 50px 0 50px 0px !important;}
.pad-y-60 {padding: 60px 0 60px 0px !important;}

/* Yatay Margin Tanımlamaları */
.mar-x-10 {margin: 0 5px 0 5px !important;}
.mar-x-10 {margin: 0 10px 0 10px !important;}
.mar-x-15 {margin: 0 15px 0 15px !important;}
.mar-x-20 {margin: 0 20px 0 20px !important;}
.mar-x-30 {margin: 0 30px 0 30px !important;}
.mar-x-40 {margin: 0 40px 0 40px !important;}
.mar-x-50 {margin: 0 50px 0 50px !important;}
.mar-x-60 {margin: 0 60px 0 60px !important;}

/* Dikey Margin Tanımlamaları */
.mar-y-5  {margin: 5px 0 5px 0 !important;}
.mar-y-10 {margin: 10px 0 10px 0px !important;}
.mar-y-15 {margin: 15px 0 15px 0px !important;}
.mar-y-20 {margin: 20px 0 20px 0px !important;}
.mar-y-30 {margin: 30px 0 30px 0px !important;}
.mar-y-40 {margin: 40px 0 40px 0px !important;}
.mar-y-50 {margin: 50px 0 50px 0px !important;}
.mar-y-60 {margin: 60px 0 60px 0px !important;}

/* Margin Top, Right, Bottom ve Left Tanımlamaları */
/* Margin Top Tanımlamaları */
.mar-t-0 {margin-top: 0 !important;}
.mar-t-5 {margin-top: 5px !important;}
.mar-t-10 {margin-top: 10px !important;}
.mar-t-15 {margin-top: 15px !important;}
.mar-t-20 {margin-top: 20px !important;}
.mar-t-30 {margin-top: 30px !important;}
.mar-t-40 {margin-top: 40px !important;}
.mar-t-50 {margin-top: 50px !important;}
.mar-t-60 {margin-top: 60px !important;}
/* Margin Right Tanımlamaları */
.mar-r-0  {margin-right: 0 !important;}
.mar-r-5  {margin-right: 5px !important;}
.mar-r-10 {margin-right: 10px !important;}
.mar-r-15 {margin-right: 15px !important;}
.mar-r-20 {margin-right: 20px !important;}
.mar-r-30 {margin-right: 30px !important;}
.mar-r-40 {margin-right: 40px !important;}
.mar-r-50 {margin-right: 50px !important;}
.mar-r-60 {margin-right: 60px !important;}
/* Margin Bottom Tanımlamaları */
.mar-b-0 {margin-bottom: 0 !important;}
.mar-b-5 {margin-bottom: 5px !important;}
.mar-b-10 {margin-bottom: 10px !important;}
.mar-b-15 {margin-bottom: 15px !important;}
.mar-b-20 {margin-bottom: 20px !important;}
.mar-b-30 {margin-bottom: 30px !important;}
.mar-b-40 {margin-bottom: 40px !important;}
.mar-b-50 {margin-bottom: 50px !important;}
.mar-b-60 {margin-bottom: 60px !important;}
/* Margin Left Tanımlamaları */
.mar-l-0  {margin-left: 0 !important;}
.mar-l-5  {margin-left: 5px !important;}
.mar-l-10 {margin-left: 10px !important;}
.mar-l-15 {margin-left: 15px !important;}
.mar-l-20 {margin-left: 20px !important;}
.mar-l-30 {margin-left: 30px !important;}
.mar-l-40 {margin-left: 40px !important;}
.mar-l-50 {margin-left: 50px !important;}
.mar-l-60 {margin-left: 60px !important;}

/* Padding Top, Right, Bottom ve Left Tanımlamaları */
/* Padding Top Tanımlamaları */
.pad-t-0  {padding-top: 0 !important;}
.pad-t-5  {padding-top: 5px !important;}
.pad-t-10 {padding-top: 10px !important;}
.pad-t-15 {padding-top: 15px !important;}
.pad-t-20 {padding-top: 20px !important;}
.pad-t-30 {padding-top: 30px !important;}
.pad-t-40 {padding-top: 40px !important;}
.pad-t-50 {padding-top: 50px !important;}
.pad-t-60 {padding-top: 60px !important;}
/* Padding Right Tanımlamaları */
.pad-r-0  {padding-top: 0 !important;}
.pad-r-5  {padding-right: 5px !important;}
.pad-r-10 {padding-right: 10px !important;}
.pad-r-15 {padding-right: 15px !important;}
.pad-r-20 {padding-right: 20px !important;}
.pad-r-30 {padding-right: 30px !important;}
.pad-r-40 {padding-right: 40px !important;}
.pad-r-50 {padding-right: 50px !important;}
.pad-r-60 {padding-right: 60px !important;}
/* Padding Bottom Tanımlamaları */
.pad-b-0  {padding-bottom: 0 !important;}
.pad-b-5  {padding-bottom: 5px !important;}
.pad-b-10 {padding-bottom: 10px !important;}
.pad-b-15 {padding-bottom: 15px !important;}
.pad-b-20 {padding-bottom: 20px !important;}
.pad-b-30 {padding-bottom: 30px !important;}
.pad-b-40 {padding-bottom: 40px !important;}
.pad-b-50 {padding-bottom: 50px !important;}
.pad-b-60 {padding-bottom: 60px !important;}
/* Padding Left Tanımlamaları */
.pad-l-0  {padding-left: 0 !important;}
.pad-l-5  {padding-left: 5px !important;}
.pad-l-10 {padding-left: 10px !important;}
.pad-l-15 {padding-left: 15px !important;}
.pad-l-20 {padding-left: 20px !important;}
.pad-l-30 {padding-left: 30px !important;}
.pad-l-40 {padding-left: 40px !important;}
.pad-l-50 {padding-left: 50px !important;}
.pad-l-60 {padding-left: 60px !important;}
