/* ########################################################################## */
/* Padding ve Margin Tanımlamaları */
/* Komple Padding Tanımlamaları */
.padding-10 {padding: 10px;}
.padding-20 {padding: 20px;}
.padding-30 {padding: 30px;}
.padding-40 {padding: 40px;}
.padding-50 {padding: 50px;}
.padding-60 {padding: 60px;}

/* Komple Margin Tanımlamaları */
.margin-10 {margin: 10px;}
.margin-20 {margin: 20px;}
.margin-30 {margin: 30px;}
.margin-40 {margin: 40px;}
.margin-50 {margin: 50px;}
.margin-60 {margin: 60px;}

/* Yatay padding Tanımlamaları */
.pad-x-10 {padding-left: 10px; padding-right: 10px}
.pad-x-20 {padding-left: 20px; padding-right: 20px}
.pad-x-30 {padding-left: 30px; padding-right: 30px}
.pad-x-40 {padding-left: 40px; padding-right: 40px}
.pad-x-50 {padding-left: 50px; padding-right: 50px}
.pad-x-60 {padding-left: 60px; padding-right: 60px}
/*Dikey Padding Tanımlamaları */
.pad-y-5 {padding-top: 5px; padding-bottom: 5px}
.pad-y-10 {padding-top: 10px; padding-bottom: 10px}
.pad-y-20 {padding-top: 20px; padding-bottom: 20px}
.pad-y-30 {padding-top: 30px; padding-bottom: 30px}
.pad-y-40 {padding-top: 40px; padding-bottom: 40px}
.pad-y-50 {padding-top: 50px; padding-bottom: 50px}
.pad-y-60 {padding-top: 60px; padding-bottom: 60px}
/* Yatay Margin Tanımlamaları */
.mar-x-10 {margin-left: 10px; margin-right: 10px}
.mar-x-20 {margin-left: 20px; margin-right: 20px}
.mar-x-30 {margin-left: 30px; margin-right: 30px}
.mar-x-40 {margin-left: 40px; margin-right: 40px}
.mar-x-50 {margin-left: 50px; margin-right: 50px}
.mar-x-60 {margin-left: 60px; margin-right: 60px}
/* Diker Margin Tanımlamaları */
.margin-vert-5 {margin-top: 5px; margin-bottom: 5px}
.mar-y-10 {margin-top: 10px; margin-bottom: 10px}
.mar-y-20 {margin-top: 20px; margin-bottom: 20px}
.mar-y-30 {margin-top: 30px; margin-bottom: 30px}
.mar-y-40 {margin-top: 40px; margin-bottom: 40px}
.mar-y-50 {margin-top: 50px; margin-bottom: 50px}
.mar-y-60 {margin-top: 60px; margin-bottom: 60px}
/* Komple Padding ve Margin Sıfırlama */
.no-padding {padding: 0 0 4px !important;}
.no-margin {margin: 0 !important;}

/* Margin Top, Right, Bottom ve Left Tanımlamaları */
.mar-t-0 {margin-top: 0;}
.mar-t-5 {margin-top: 5px;}
.mar-t-10 {margin-top: 10px;}
.mar-t-15 {margin-top: 15px;}
.mar-t-20 {margin-top: 20px;}
.mar-t-30 {margin-top: 30px;}
.mar-t-40 {margin-top: 40px;}
.mar-t-50 {margin-top: 50px;}
.mar-t-60 {margin-top: 60px;}
.mar-r-0  {margin-right: 0;}
.mar-r-5  {margin-right: 5px;}
.mar-r-10 {margin-right: 10px;}
.mar-r-15 {margin-right: 15px;}
.mar-r-20 {margin-right: 20px;}
.mar-r-30 {margin-right: 30px;}
.mar-r-40 {margin-right: 40px;}
.mar-r-50 {margin-right: 50px;}
.mar-r-60 {margin-right: 60px;}
.mar-b-0 {margin-bottom: 0;}
.mar-b-5 {margin-bottom: 5px;}
.mar-b-10 {margin-bottom: 10px;}
.mar-b-15 {margin-bottom: 15px;}
.mar-b-20 {margin-bottom: 20px;}
.mar-b-30 {margin-bottom: 30px;}
.mar-b-40 {margin-bottom: 40px;}
.mar-b-50 {margin-bottom: 50px;}
.mar-b-60 {margin-bottom: 60px;}
.mar-l-0  {margin-left: 0;}
.mar-l-5  {margin-left: 5px;}
.mar-l-10 {margin-left: 10px;}
.mar-l-15 {margin-left: 15px;}
.mar-l-20 {margin-left: 20px;}
.mar-l-30 {margin-left: 30px;}
.mar-l-40 {margin-left: 40px;}
.mar-l-50 {margin-left: 50px;}
.mar-l-60 {margin-left: 60px;}
/* Padding Top, Right, Bottom ve Left Tanımlamaları */
.pad-t-0  {padding-top: 0;}
.pad-t-5  {padding-top: 5px;}
.pad-t-10 {padding-top: 10px;}
.pad-t-15 {padding-top: 15px;}
.pad-t-20 {padding-top: 20px;}
.pad-t-30 {padding-top: 30px;}
.pad-t-40 {padding-top: 40px;}
.pad-t-50 {padding-top: 50px;}
.pad-t-60 {padding-top: 60px;}
.pad-r-0  {padding-top: 0;}
.pad-r-5  {padding-right: 5px;}
.pad-r-10 {padding-right: 10px;}
.pad-r-15 {padding-right: 15px;}
.pad-r-20 {padding-right: 20px;}
.pad-r-30 {padding-right: 30px;}
.pad-r-40 {padding-right: 40px;}
.pad-r-50 {padding-right: 50px;}
.pad-r-60 {padding-right: 60px;}
.pad-b-0  {padding-bottom: 0;}
.pad-b-5  {padding-bottom: 5px;}
.pad-b-10 {padding-bottom: 10px;}
.pad-b-15 {padding-bottom: 15px;}
.pad-b-20 {padding-bottom: 20px;}
.pad-b-30 {padding-bottom: 30px;}
.pad-b-40 {padding-bottom: 40px;}
.pad-b-50 {padding-bottom: 50px;}
.pad-b-60 {padding-bottom: 60px;}
.pad-l-0  {padding-left: 0;}
.pad-l-5  {padding-left: 5px;}
.pad-l-10 {padding-left: 10px;}
.pad-l-15 {padding-left: 15px;}
.pad-l-20 {padding-left: 20px;}
.pad-l-30 {padding-left: 30px;}
.pad-l-40 {padding-left: 40px;}
.pad-l-50 {padding-left: 50px;}
.pad-l-60 {padding-left: 60px;}
