.txt-6 {font-size: 6pt !important;}
.txt-8 {font-size: 8pt !important;}
.txt-10 {font-size: 10pt !important;}
.txt-12 {font-size: 12pt !important;}
.txt-14 {font-size: 14pt !important;}
.txt-16 {font-size: 16pt !important;}
.txt-18 {font-size: 18pt !important;}
.txt-20 {font-size: 20pt !important;}
.txt-22 {font-size: 22pt !important;}
.txt-24 {font-size: 24pt !important;}
.txt-26 {font-size: 26pt !important;}
.txt-28 {font-size: 28pt !important;}
